<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body>
    {% include 'adminnav.html' %}
    <div>
    {% include 'doctor_sidenav.html' %}
    </div>
    <div class="container">
    <table class="table table-stripped">
        <tr>
        <th>Patient Name</th>
        <th>Appointment date</th>
        <th>Appointment time</th>
        <th>Symptoms</th>
        <th>prescription</th>
        </tr>
        {% for i in upcomming_appointments %}
        <tr>
                <td>{{i.patientname}}</td>
                <td>{{i.appointmentdate}}</td>
                <td>{{i.appointmenttime}}</td>
                <td>{{i.symptoms}}</td>
                {% if i.prescription == "" %}
                <td>
                    <form method="post" >
                        {% csrf_token %}
                            <textarea class="form-control" name="prescription"></textarea>
                            <input type="hidden" value="{{i.id}}" name="idofappointment">
                            
                            <input type="submit" class="btn btn-danger "value="Prescription">
                        </form>
                    </td>
                {% else %}
                <td>{{i.prescription}}</td>
                {% endif %}
                
        </tr>
        {% endfor %} 
        {% for i in previous_appointments %}
        <tr>
                <td>{{i.patientname}}</td>
                <td>{{i.appointmentdate}}</td>
                <td>{{i.appointmenttime}}</td>
                <td>{{i.symptoms}}</td>
                {% if i.prescription == "" %}
                <td>
                    <form method="post" >
                        {% csrf_token %}
                            <textarea class="form-control" name="prescription"></textarea>
                            <input type="hidden" value="{{i.id}}" name="idofappointment">
                            
                            <input type="submit" class="btn btn-danger "value="Prescription">
                        </form>
                    </td>
                {% else %}
                <td>{{i.prescription}}</td>
                {% endif %}
        </tr>
        {% endfor %} 

    </table>
</div>
</body>